
.intro {
	height: 100vh;
	display:flex;
    align-items: center;
    justify-content: center;

	h1 {
		width: 500px;
		left: 50%;
		margin-left: -250px;
		top: 25%;
		position: absolute;
	}
	img {
		position: absolute;
		top: 10px;
		left: 0px;
		margin: 15px;
	}
	.info {
		position: absolute;
		bottom: 50px;
		right: 40px;
		max-width: 400px;
	}
	
}
.full-description, .supporters, .schedule {
	margin: 40px;
}
.full-description {
	top: 150px;
	height: 100px;
	p {
		float: right;
	}
}
.day {
	position: relative;
	top: 50px;
}
.event {
	padding: 20px 0 20px;
	border-bottom: 2px solid $pink;
	h4, ul li {
		padding: 5px;
	}
	h4 {
		font-size: 1.8em;
	}
	ul li {
		font-size: 1em;
	}
}
.supporters {
	div, p {
		float: right;
	}
}