@import "variables";
.intro {
	height: 100vh;
	display:flex;
    align-items: center;
    justify-content: center;

	h1 {
		width: 500px;
		left: 50%;
		margin-left: -250px;
		top: 25%;
		position: absolute;
	}
	img {
		position: absolute;
		top: 10px;
		left: 0px;
		margin: 15px;
	}
	.info {
		position: absolute;
		bottom: 50px;
		right: 2%;
		max-width: 395px;
	}
	
}
.logo {
	 filter: invert(100%);
}
.full-description, .supporters, .schedule {
	margin: 50px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.full-description {
	height: 150px;
	p {
		float: right;
	}
}
#signup {
	position: relative;
	top: 20px;
	margin-bottom: 50px;
	bottom: 50px;
	padding: 5px;
}
.day {
	position: relative;
	top: 50px;
	h3 {
		text-align: center;
		float: center;
	}
}
.event {
	padding: 20px 0 20px;
	border-bottom: 2px solid $pink;
	h4, ul li {
		padding: 5px;
	}
	h4 {
		font-size: 1.8em;
	}
	ul li {
		font-size: 1em;
	}
}
.right {
	margin-top: 30px;
	float: right;
}
.supporters {
	position: relative;
	margin-bottom: 400px;
	div > p {
		margin-top: 30px;
	}
}

.supporters .grid {
	min-height: 250px;
	max-width: 600px;
  	img {
  		padding: 10px;
  	}
}
/** in footer **/
.social-media {
	float: right;
	margin-right: 15px;
	width: 100px;
	img {
		height: 100%;
		margin: 5% auto;
		padding-left: 8px;
	}
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/** button effects */

/* Underline From Center */
.hvr-underline-from-center {
  height: 30px;
  border: 3px solid $salmon;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -2px;
  background: $salmon;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
  border-bottom: none;
}