@import 'variables';
body {
	font-family: $body-font;
	background: $background-blue;
	color: white;
}
h1, h2, h3, p, ul li {
	padding: 5px;
}
h1, h2, h3 {
	font-family: $heading-font;
	text-align: center;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid $salmon;
}
h1 {
	font-size: 7em;
	z-index: 100;
}
h2 {
	font-size: 3em;
	float: left;
}
p {
	font-size: 1.2em;
	max-width: 650px;
}
ul li {
	display: inline;
}
ul li, span {
	font-size: 1em;
}
footer {
	margin-top: 150px;
	background: $teal;
	height: 60px;
	bottom: 0;
	span {
		width: 100%;
		top: 50%;
		display: inline-block;
		text-align: center;
		float: center;
	}
}
canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    z-index: -10;
}