@import "variables";
* {
	margin: 0;
}
html, body {
	height: 100%;
	max-width: 100%;
}
.page-wrap, .container {
	max-width: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  /*margin-bottom: 100px;*/
  overflow-x: hidden;
}
.page-wrap:after {
  content: "";
  display: block;
}
body {
	font-family: $body-font;
	background: $background;
	color: white;
	overflow-x: hidden;
}

#title {
	color:white;
	font-size: 125px;
}
::-moz-selection {
	background: $pink;
}
::selection {
	background: $pink;
}

h1, h2, h3 {
	padding: 5px;
}
h1, h2, h3 {
	font-family: $heading-font;
	text-align: center;
	font-weight: lighter;
}
a:not(.sponsors) {
	text-decoration: none;
	color: inherit;
	position: relative;
}
h1 {
	font-size: 9em;
	z-index: 100;
}
h2 {
	font-size: 2.5em;
    font-weight: 400;
}
h3 {
	font-size: 2em;
}
h4 {
	font-family: $heading-font;
	text-align: left;
	font-size: 1.7em;
	font-weight: bold;
}
p {
	font-size: 1.2em;
	max-width: 650px;
}
p, ul li {
	line-height: 1.3;
}
ul li {
	display: inline;
}
ul li, span {
	font-size: 1em;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input, input:focus {
	outline: none;
	background: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input {
	display: inline;
	font-family: $body-font;
}
input[type="email"] {
	padding: 10px;
    font-size: 14pt;
    border: none;
    width: 430px;
}
input[type="submit"] {
	border: none;
    background: transparent;
    width: 42px;
    margin-top: 2px;
    font-size: 2em;
    color: white;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 105px;
}

footer {
	width:100%;
	background: $tangerine;
	position: absolute;
	text-align: center;
	color:white;
	p {
		width: 100%;
		display: inline-block;
		position: relative;
		margin: 10px auto;
	}
}

header {
    position: fixed;
    width: 100%;
    height: 30px;
    padding: 30px 20px 20px;
    background-color: $background;
    z-index: 1000;
}
canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    z-index: -10;
}
