@media screen and (max-width: 700px) {
	.supporters .grid img {
		padding: 2px;
		max-width: 150px;
	}
	footer {
		padding: 20px 10px;
		overflow-x: hidden;
	}
	.intro {
		height: 110vmax;
	}
	.schedule {
		//background-image: none;
		margin-left: 30%;
	}
}
@media all and (max-width: 400px){
	body, .page-wrap {
		overflow-x: hidden;
		max-width: 100%;
		padding: none;
	}
	h1 {
		font-size: 3em !important;
	}
	.nav-right {
		visibility: hidden;
	}
	.mobile-hides {
		visibility: hidden;
	}
	.intro {
		height: 110vmax;
	}
	.intro .info {
		width: 90%;
		margin: auto;
	}
	.fade {
		opacity: 1;
	}
	.about {
		width: 100%
	}
	footer {
		width: 100%;
		padding: 20px 0px;
	}
	input[type="email"] {
	    width: 100%;
	}
	form {
		width: 100%;
	}
	.submit-button {
		height: 45px;
		top: 4px;
		left: 92%;
		position: absolute;
	}
	.supporters .grid img {
		padding: 2px;
		max-width: 48%;
	}
	.schedule {
		//background-image: none;
		margin-left: 30%;
	}
	.day {
		width: 100%;
		top: 40px;
		&.right {
			padding: 0px
		}
	}
	.events {
		width: 100%;
	}
	.rocket1 {
		top: 50px;
		left: 4%;
	}
	.planet {
		left: -150px;
		top: 400px;
	}
}
@media only screen and (max-width: 1200px){
	.cloud2 {
		visibility: hidden;
	}
	.cloud3 {
		visibility: hidden;
	}
}
@media only screen and (max-width: 480px){
	body, .page-wrap {
		overflow-x: hidden;
		max-width: 100%;
		padding: none;
	}
	h1 {
		font-size: 3em !important;
	}
	.nav-right {
		visibility: hidden;
	}
	.mobile-hides {
		visibility: hidden;
	}
	.intro .info {
		width: 90%;
		margin: auto;
	}
	.fade {
		opacity: 1;
	}
	.about {
		width: 100%
	}
	footer {
		width: 100%;
		padding: 20px 0px;
	}
	input[type="email"] {
	    width: 100%;
	}
	form {
		width: 100%;
	}
	.submit-button {
		height: 45px;
		top: 4px;
		left: 92%;
		position: absolute;
	}
	.schedule {
		//background-image: none;
	}
	.day {
		width: 100%;
		top: 40px;
		&.right {
			padding: 0px
		}
	}
	.events {
		width: 100%;
	}
	.rocket1 {
		top: 50px;
		left: 4%;
	}
	.star1 {
		top: 120px;
		left: 100px;
	}
	.planet {
		left: -150px;
		top: 400px;
	}
}
@media only screen and (max-width: 320px){
	footer {
		width: 100%;
		padding: 20px 10px;
		overflow-x: hidden;;
	}
}
