/* ROCKET IMAGE SET*/
.rockets {
  z-index: 2000
}
.rocket1 {
  @extend .rockets;
  margin-top: 50px;
  height: 650px;
  position: absolute;
  top: 100px;
  left: 37%;
}
.rocket3 {
  @extend .rockets;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* middle rocket set is a background image*/
.schedule {
  background-image: url(/images/rocketship-trajectory-b.png);
  background-repeat: no-repeat;
  background-size: 350px;
  background-position-x: 50%;
  background-position-y: -10px;
}

/* THE PLANET */

.planet {
  height: 275px;
  position: absolute;
  left: -90px;
  top: 125px; z-index: 2000
}

/* STARS */

.stars {
  height: 90px;
  position: absolute;
  z-index: 2000
}

.star1 {
  @extend .stars;
  left: 350px;
  top: 120px;
}

.star2 {
  @extend .stars;
  right: 265px;
  top: 225px;
}

.star3 {
  @extend .stars;
  left: 200px;
  top: 575px;
}

/* CLOUDS */

.clouds {
  height: 400px;
  position: absolute;
  z-index: 2000
}

.cloud1 {
  @extend .clouds;
  position: relative;
  right: -47%;
  top: 250px;
}

.cloud2 {
  @extend .clouds;
  left: -300px;
  top: 1150px;
}

.cloud3 {
  @extend .clouds;
  height: 350px;
  right: -270px;
  top: -1250px;
}
