$background-blue: #f2f2f2;
$background: #2D243F;
$tangerine: #ef4855;
$salmon: #EBA444;
$pink: #EBA444;
$teal: #3885CA;
$peach: #EBA444;
$light-blue: #0E1E39;
$big-space: 150px;
@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
$heading-font: "Rubik", "Helvetica", sans-serif;
$body-font: "Rubik", "Helvetica", sans-serif;
