---
layout: main
title: welcome
---

<section class="involved section__righttype">
<h2>Get excited.</h2>
{% capture intro %}
  {% include intro.md %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</section>

{% include cta.html %}

<!--
<section class="schedule section__righttype">
{% capture schedule %}
{% include schedule.md %}
{% endcapture %}
{{ schedule | unindent | markdownify }}
</section>-->

<section>
	<h1>Schedule</h1>
<!--
	<h3>Sort by:</h3>
	<ul id="sort">
		<li data-filter="*">all</button></li>
		<li data-filter=".design">design</button></li>
		<li data-filter=".programming">programming</button></li>
		<li data-filter=".business">business</button></li>
		<li data-filter=".community">community</button></li>
		<li data-filter=".afterhours">afterhours</button></li>
	</ul>-->

	<ul id="filters" class="event__filter">
		<li><button class="filter__toggle all" data-filter="*">all</button></li>
		<li><button class="filter__toggle programming" data-filter=".programming">programming</button></li>
		<li><button class="filter__toggle design" data-filter=".design">design</button></li>
		<li><button class="filter__toggle business" data-filter=".business">business</button></li>
		<li><button class="filter__toggle community" data-filter=".community">community</button></li>
		<li><button class="filter__toggle afterhours" data-filter=".afterhours">afterhours</button></li>
	</ul>
</section>

<section class="js-isotope"
  data-isotope-options='{ "layoutMode": "masonry", "itemSelector": ".sw__event", "bindResize" : true }'>

	<ul class="list__events">
	{% for event in site.data.list %}
		{% for team in event.links.teams %}
			{% if team contains "5440609d6b0287336dfc51cf" %}
				<li class="sw__event{% for team in event.links.teams %}{% if team == '53f99d6bc66b44cf6f8f6d82' %} design{% elsif team == '53f99d9bc66b44cf6f8f6d84' %} community{% elsif team == '53f54dd98d1e62ff12539dc1' %} programming{% elsif team == '53f54dd98d1e62ff12539dc2' %} afterhours{% endif %}{% endfor %}{% if event.isBusiness == true %} business{% endif %} priority--{{event.priority}}">
					<time class="event__date">
						<span class="date__dayOf">{{ event.startDateTime | date: "%a" }}</span>
						<span class="date__date">{{ event.startDateTime | date: "%d" }}</span>
					</time>
				

					<h4><a href="{{ event.rsvpUrl}}">{{ event.title }}</a></h4>

					<h5 class="event__time">{{event.startTime}} - {{event.endTime}}</h5>

					<ul class="presenter__list">
					{% for presenter in event.links.presenters %}
						{% for loopPresenter in site.data.list.linked.presenters %}
							{% if loopPresenter.id == presenter %}
								<li class="presenter">
								<strong>{{ loopPresenter.name }}</strong>
								<a href="{{ loopPresenter.url }}"><span class="ion-link" data-pack="default" data-tags="chain, anchor, href, attach"></span></a>

								<a href="http://twitter.com/{{ loopPresenter.contact.twitter }}"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>

								<p class="presenter__title">{{ loopPresenter.title }}</p>

								<p class="presenter__bio">{{ loopPresenter.shortBio }}</p>
								</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
					</ul>

					<p class="event__description">{{ event.description }}</p>


					{% for team in event.links.teams %}
						{% if team == "53f99d6bc66b44cf6f8f6d82" %}
							<span class="event__label design">design</span>
						{% elsif team == "53f99d9bc66b44cf6f8f6d84" %}
							<span class="event__label community">community</span>
						{% elsif team == "53f54dd98d1e62ff12539dc1" %}
							<span class="event__label programming">programming</span>
						{% elsif team == "53f54dd98d1e62ff12539dc2" %}
							<span class="event__label afterhours">afterhours</span>
						{% endif %}
					{% endfor %}
					{% if event.isBusiness == true %}
							<span class="event__label business">business</span>
					{% endif %}

					<a href="{{ event.rsvpUrl}}" class="full__rsvp">RSVP</a>
				</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
</section>


<section class="supporters section__righttype">
{% capture sponsor %}
{% include sponsors.md %}
{% endcapture %}
{{ sponsor | unindent | markdownify }}
</section>