---
layout: main
title: welcome
---


<section class="involved section__righttype events__schedule" style="z-index:4;">
	<h2>Get Excited.</h2>

	{% capture intro %}{% include intro.md %}{% endcapture %}
	{{ intro | unindent | markdownify }}

	<p>All events are open to the public! You do not need to be a student or go to NYU to attend Startup Week. But you do need a ticket!</p>
	{% include tickets.html %}
</section>
<div id="triangles" style="position:absolute; margin-top:10em; z-index:1;"></div>

<section class="events__schedule">
	<h2>Schedule</h2>
	<ul id="filters" class="event__filter">
		<li>Filter Events: </li>
		<li><button class="filter__toggle all" data-filter="*">all</button></li>
		<li><button class="filter__toggle programming" data-filter=".programming">programming</button></li>
		<li><button class="filter__toggle design" data-filter=".design">design</button></li>
		<li><button class="filter__toggle business" data-filter=".business">business</button></li>
		<li><button class="filter__toggle community" data-filter=".community">community</button></li>
		<li><button class="filter__toggle afterhours" data-filter=".afterhours">afterhours</button></li>
	</ul>
</section>
<section class="events__schedule js-isotope"
  data-isotope-options='{ "layoutMode": "masonry", "itemSelector": ".sw__event", "bindResize" : true }' style="clear:both;padding-top:0;">
	<ul class="list__events">
	{% for event in site.data.list %}
    {% if event.isPast %}
      {% continue %}
    {% endif %}
		<li class="sw__event{% for team in event.links.teams %}{% if team == '53f99d6bc66b44cf6f8f6d82' %} design{% elsif team == '53f99d9bc66b44cf6f8f6d84' %} community{% elsif team == '53f54dd98d1e62ff12539dc1' %} programming{% elsif team == '53f54dd98d1e62ff12539dc2' %} afterhours{% endif %}{% endfor %}{% if event.isBusiness == true %} business{% endif %} priority--{{event.priority}}">
			{% assign startDayOfWeek = (event.startDateTime | date: "%a") %}
			{% assign endDayOfWeek   = (event.endDateTime | date: "%a") %}
			{% assign startTimestamp = (event.startDateTime | date: "%s") %}
			{% assign endTimestamp   = (event.endDateTime | date: "%s") %}
			{% assign eventLength    = endTimestamp|minus:startTimestamp %}
			{% assign startTimeAMPM  = (event.startDateTime | date: "%p") %}
			{% assign endTimeAMPM    = (event.endDateTime | date: "%p") %}
			{% capture startTimeFormat %}%I:%M{% if startTimeAMPM != endTimeAMPM %}<abbr class='meridian'>%p</abbr>{% endif %}{% endcapture %}

			<h4><a href="{{ event.rsvpUrl}}">{{ event.title }}</a></h4>

			<time class="event__date" datetime="{{event.startDateTime}}">
				{% if endDayOfWeek == startDayOfWeek and eventLength < 86400 %}
					<span class="date__dayOf">{{ event.startDateTime | date: "%A, %b %-d" }}</span>
					<span class="event__time h5">{{event.startDateTime | date:startTimeFormat }} &ndash; {{event.endDateTime | date: "%I:%M<abbr class='meridian'>%p</abbr>"}}</span>
				{% else %}
					<span class="date__dayOf">
						{{ event.startDateTime | date: "%A, %b %-d at %I:%M<abbr class='meridian'>%p</abbr>" }} &ndash;
						{{ event.endDateTime | date: "%A, %b %-d at %I:%M<abbr class='meridian'>%p</abbr>" }}
					</span>
				{% endif %}
			</time>

			<p class="event__description">{{ event.description }}</p>

			<ul class="presenter__list">
			{% for presenter in event.presenters %}
				<li class="presenter">
					<strong>{{ presenter.name }}</strong>
					<a href="{{ presenter.url }}"><span class="ion-link" data-pack="default" data-tags="chain, anchor, href, attach"></span></a>

					<a href="http://twitter.com/{{ presenter.contact.twitter }}"><span class="ion-social-twitter" data-pack="social" data-tags="follow, post, share"></span></a>

					<p class="presenter__title">{{ presenter.title }}</p>

					<p class="presenter__bio">{{ presenter.shortBio }}</p>
				</li>
			{% endfor %}
			</ul>


			{% for team in event.links.teams %}
				{% if team == "53f99d6bc66b44cf6f8f6d82" %}
					<span class="event__label design">design</span>
				{% elsif team == "53f99d9bc66b44cf6f8f6d84" %}
					<span class="event__label community">community</span>
				{% elsif team == "53f54dd98d1e62ff12539dc1" %}
					<span class="event__label programming">programming</span>
				{% elsif team == "53f54dd98d1e62ff12539dc2" %}
					<span class="event__label afterhours">afterhours</span>
				{% endif %}
			{% endfor %}
			{% if event.isBusiness == true %}
					<span class="event__label business">business</span>
			{% endif %}

			{% if event.id == '54431029e5ac6ddf5357c43e' %}
				<a href="http://www.eventbrite.com/e/first-annual-new-york-city-tech-party-tickets-13771030523?discount=Tech@NYU"><img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/s720x720/10616212_976762449007080_2517417717230099081_n.jpg?oh=bc6b105a1022116ae9c6070e021c9478&oe=54B8B608"></a>
			{% endif %}

			<a href="{{ event.rsvpUrl}}" class="full__rsvp">RSVP</a>
		</li>
	{% endfor %}
	</ul>
</section>


<section class="supporters section__righttype">
{% capture sponsor %}
{% include sponsors.md %}
{% endcapture %}
{{ sponsor | unindent | markdownify }}
</section>
