---
layout: main
title: welcome
---

<section class="involved section__righttype">
<h2>Get excited.</h2>
{% capture intro %}
  {% include intro.md %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</section>

{% include cta.html %}

<!--
<section class="schedule section__righttype">
{% capture schedule %}
{% include schedule.md %}
{% endcapture %}
{{ schedule | unindent | markdownify }}
</section>-->

<section>
	<h1>Schedule</h1>

	<h3>Sort by:</h3>
	<ul>
		<li>design</li>
		<li>programming</li>
	</ul>
</section>

<section class="js-isotope"
  data-isotope-options='{ "layoutMode": "fitRows", "itemSelector": ".sw__event" }'>



	<ul class="list__events">
	{% for event in site.data.list.events %}
		{% for team in event.links.teams %}
			{% if team contains "5440609d6b0287336dfc51cf" %}

				<li class="sw__event">
					<h4>{{ event.title }}</h4>
					<h5>{{ event.startDateTime | date_to_string }}</h5>

					<h5>
					{% for presenter in event.links.presenters %}
						{% for loopPresenter in site.data.list.linked.presenters %}
							{% if loopPresenter.id == presenter %}
								{{ loopPresenter.name }}

								{{ loopPresenter.url }}

								<a href="http://twitter.com/{{ loopPresenter.contact.twitter }}">{{ loopPresenter.contact.twitter }}</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
					</h5>

					<p>{{ event.description }}</p>

					{% for team in event.links.teams %}
						{% if team == "53f99d6bc66b44cf6f8f6d82" %}
							<span class="event__label design">design</label>
						{% elsif team == "53f54dd98d1e62ff12539dc2" %}
							<span class="event__label community">community</span>
						{% elsif team == "53f54dd98d1e62ff12539dc1" %}
							<span class="event__label programming">programming</span>
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
</section>


<section class="supporters section__righttype">
{% capture sponsor %}
{% include sponsors.md %}
{% endcapture %}
{{ sponsor | unindent | markdownify }}
</section>