<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tech@NYU Startup Week</title>
    <meta name="viewport" content="width=device-width">
	<link href="//cloud.webtype.com/css/8d1cab07-1fd7-4bd5-ac2d-e825014cf262.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/lib/css/styles.css">
    <meta name="description" content="A week of hacking, designing, networking, and learning with the best and brightest in NYC tech." />
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44280634-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script type="text/javascript" src="//use.typekit.net/bpm7cfb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
  </head>
  <body>
    <div class="container">
      
      
         {{ content }}
         
    
    </div> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="/lib/js/isotope.min.js"></script>
    <script src="/lib/js/app.js"></script>
  </body>
</html>
