<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/lib/css/styles.css">
		<title>tech@NYU Startup Week</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700italic,700,300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-44280634-1', 'nyusw.com');
		  ga('send', 'pageview');

		</script>
    </head>
    <body>

        <div class="container">
			{% include header.html %}
	
			<div class="site content">
	
			
			
			   {{ content }}
			
			{% include quote.html %}
			</div>
        </div> <!-- /container -->

	<div class="like">
		<div class="fb"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnyusw.com%2F&amp;width=450&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;send=true&amp;appId=315165228524689" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:80px;" allowTransparency="true"></iframe>
			</div>

			<div class="twitter">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out @techatNYU Startup Week! nyusw.com 9/28 - 10/5. #NYUSW" data-hashtags="#NYUSW" data-counturl="http://www.nyusw.com" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
	</div>

		<script src="/lib/js/jquery.js"></script>
		<script src="/lib/js/jquery.lettering.js"></script>
		<script src="/lib/js/app.js"></script>
    </body>
</html>
