---
layout: base
title: Startup Week
---
<div class="startup__mask">
	<img src="/lib/img/crane-side.png" /> <!-- Needs to be in the markup to print. -->
	<h1 class="startup__one">Startup<br> Week</h1>
</div>

<section class="intro">
    <img src="/lib/logos/techatnyu.png" alt="tech@nyu" class="logo" />
    <div class="info">
      <p class="description">The leading gathering of students at the intersection of technology, entrepreneurship, and design.</p>

      <ul>
          <li>November 1-9, 2014</li><li>New York City</li>
      </ul>    
    </div>
</section>



<section class="involved">
	
	
	{{ content }}

</section>

<section class="supporters">
  
</section>
