---
layout: base
title: Startup Week
---
<div class="startup__mask">
	<img src="/lib/img/crane-side.png" /> <!-- Needs to be in the markup to print. -->
	<h1 class="startup__one">Startup<br> Week</h1>
</div>

<section class="intro">
    <img src="/lib/logos/techatnyu.png" alt="tech@nyu" class="logo" />
    <div class="info">
      <p class="description">A week of hacking, designing, networking, and learning with the best and brightest in NYC tech.</p>

      <ul>
          <li>April 4–10, 2016</li><li>New York City</li>
      </ul>    
    </div>
</section>



{{ content }}
