<section class="intro">
  <h1>Startup Week</h1>
  <img src="/images/techatnyu.png" alt="tech@nyu" class="logo">
  <div class="info">
    <p class="description">A week of hacking, designing, networking, and learning with the best and brightest in NYC tech.</p>
    <ul>
        <li>April 4–10, 2016 | </li><li>New York City | </li><li><a href="https://balloon.io/techatnyuresumedrop" target="_blank">Resume Drop</a></li><br>
    </ul>    
</div>
</section>
<span class="border"></span>
<section class="full-description">

  <h2> Get Excited. </h2>
  <p>Tech@NYU’s weeklong celebration of technology, design, and entrepreneurship is back—and our event lineup is better than ever! We've got workshops, speakers, panels, demos, and a party!</p>
</section>
<span class="border"></span>
<section class="supporters">
  <p>If you want to sponsor, please email <a href="mailto:startupweek@techatnyu.org">startupweek@techatnyu.org</a> for the partner prospectus.</p>
</section>
<footer>Made in Contempt in NYC.</footer>