<div class="page-wrap clearfix">
    <header>
      <section class="nav-left">
        <a href="http://techatnyu.org">tech@nyu</a>
      </section>
      <section class="nav-right">
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#schedule">schedule</a></li>
          <li><a href="#supporters">supporters</a></li>
        </ul>
      </section>
    </header>
    <section id="home" class="intro">
    <object type="image/png" data="/images/rocketship-trajectory-a.png" class="rocket size1" style="height: 650px; position: absolute; top: 100px"></object>
    <object type="image/png" style="height: 275px;
    position: absolute;
    left: -90px;
    top: 125px; z-index: 2000" data="/images/planet.png" class=""></object>

    <object type="image/png" style="height: 90px;
    position: absolute;
    left: 350px;
    top: 120px; z-index: 2000" data="/images/star-1.png" class="mobile-hides"></object>
    <object type="image/png" style="height: 90px;
    position: absolute;
    right: 265px;
    top: 225px; z-index: 2000" data="/images/star-2.png" class="mobile-hides"></object>
    <object type="image/png" style="height: 90px;
    position: absolute;
    left: 200px;
    top: 575px; z-index: 2000" data="/images/star-3.png" class="mobile-hides"></object>
      <h1 id="title">startup week</h1>
      <!-- <div class="info">
        <p class="description">{{description}}</p>
        <ul>
            <li>Apr 10-15, 2017 | </li><li>New York City | </li><li><a href="https://balloon.io/tnyuresumes" target="_blank">Resume Drop</a></li><br>
        </ul>
      </div> -->
      <object type="image/png" style="height: 400px;
    position: absolute;
    right: -250px;
    top: 450px; z-index: 2000" data="/images/cloud-1.png" class="mobile-hides"></object>
    </section>
    <section id="about" class="full-description">
      <object type="image/png" style="height: 400px;
    position: absolute;
    left: -300px;
    top: 1150px; z-index: 2000" data="/images/cloud-1.png" class="mobile-hides"></object>
    <object type="image/png" style="height: 350px;
    position: absolute;
    right: -270px;
    top: 1550px; z-index: 2000" data="/images/cloud-2.png" class="mobile-hides"></object>
      <div>
        <h3>Learning from the best and brightest in NYC tech.</h3>
        <p class="about">{{about}}</p>
        <div id="signup">
          <form action="//mailtrain.tnyu.org/subscription/ryeVfPjte" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
             <input type="email" value="" name="email" class="email signup__form" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_260d258c262a03b1f8f599591_a7523c433b" tabindex="-1" value=""></div>
              <button type="submit" class="submit-button">
                <span class="arrow arrow-right"></span>
              </button>
          </form>
        </div>
      </div>
    </section>
    <section id="schedule" class="schedule">
          <div class="clear"></div>
          <section fade class="day fade" ng-class="{'right': $odd, 'first':$first}" ng-repeat="(day, events) in days">
            <h4>{{day}}</h4>
            <ul class="events">
                <li ng-repeat="event in events"><section class="event">
                    <ul>
                       <li><span class="time">{{event.time}}</span> | <a ng-show="{{event.location}}" href="{{event.location.address}}">{{event.location.name}}</a><span ng-hide="{{event.location}}">TBD</span></li>
                       <li><h5><a href="{{event.url}}">{{event.title}}</a></h5></li>
                       <li class="description"><p>{{event.description}}</p></li>
                    </ul>
                </section></li>
            </ul>
          <div class="clear"></div>
        </section>
    </section>

    <section id="supporters" class="supporters">
      <h2>Thank you to our sponsors and supporters:</h2>
      <div class="right">
        <ul class="grid">
          <li ng-repeat="sponsor in prevSponsorsImg"><a class="sponsors" href="{{ sponsor.href }}" title="{{ sponsor.title }}"><img src="{{ sponsor.src }}" alt="{{ sponsor.alt }}"></a></li>
        </ul>
        <object type="image/png" data="/images/rocketship-trajectory-c.png" class="rocket size2">
            Shape <!-- fallback image in CSS -->
        </object>
        <p class="sponsor">If you want to sponsor, please email <a href="mailto:startupweek@techatnyu.org">startupweek@techatnyu.org</a> for the partner prospectus.</p>
      </div>
    </section>
    <div class="clear"></div>
</div>
<footer>
  <p> In memory of our dearly beloved <a href="https://twitter.com/grungerabbit">Cheryl Wu.</a> <img class="cheryl" src="/images/cheryl-icon.png" /></p>
  <ul class="social-media">
      <li ng-repeat="platform in socialMedia"><a href="{{ platform.href }}" title="{{ platform.title }}"><img src="{{ platform.src }}" alt="{{ platform.alt }}"></a></li>
  </ul>
</footer>
<style>
  .rocket {
    z-index: 2000
  }
  .rocket.size1 {
    height: 800px;
    margin-top: 50px;
  }
  .rocket.size2 {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .shape:nth-child(3n+1) {
    opacity: 0.8;
  }
  .shape.size1 {
    width: 60px;
  }
  .shape.size2 {
    width: 50px;
  }
  .shape.size3 {
    width: 30px;
  }
  .shapes {
    width: 120px;
  }
/*  .schedule > object, .right > .shapes {
    position: relative;
  }
  .right > .shapes {
    left: 80%;
  }
  .right > .shapes object:nth-child(odd) {
      position: relative;
      top: 10px;
      left: 20px;
  }
  .schedule > object {
     left: 60%;
     top: 40px;
  }*/
</style>
